*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    margin: 0%;
    padding: 0%;
}
header .nav ul{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
header .nav ul li{
    list-style: none;
    display: inline-block;
    padding-right: 2%;
}
.headbreak{
    border: teal 0.5px solid;
    width: 30%;
    margin-top: 2%;
}

.sec1{
    background-color: teal;
    padding-bottom: 4%;
}
.sec1 .head{
    text-align: center;
    margin-top: 4%;
}
.sec1 .head h1{
    padding-top: 2%;
    color: white;
}
.sec1 .head p{
    color: whitesmoke;
}
.sec1 img{
    margin-left: 6%;
    margin-top: 4%;
    box-shadow: 4px 2px 2px rgb(37, 37, 37);
}
.sec1 .e{
    color: white;
    float: right;
    margin-top: 10%;
    margin-right: 14%;
    display: inline-block;
    border-bottom: white 2px solid;
    padding-bottom: 2%;
    margin-bottom: 0%;
} 

footer .head{
    display: inline-block;
    margin-left: 4%;
    margin-top: 2%;
}
footer .head h2{
    color: teal;
    font-size: 25px;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
footer .list1{
    float: right;
    margin-top: 2%;
    margin-right: 15%;
}
footer .list1 h2{
    color: teal;
}
footer .list2{
    float: right;
    margin-top: 2%;
    margin-right: 20%;
}
footer .list2 h2{
    color: teal;
}
footer hr{
    margin-top: 14%;
    margin-bottom: 10%;
    width: 30%;
    border: gray solid 1px;
}
